<div class="container">
  <h1>Welcome to My Website!</h1>
  <form action="/login" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>
  New user? <a href="/users/new">Create an Account</a>
</div>