<div class="container">
  <h1>My Website</h1>
  <h2>Create Account</h2>
  <form action="/users/new" method="post">
    <label for="first-name">First Name</label><br>
    <input type="text" name="first-name" placeholder="John"><br>
    <label for="last-name">Last Name</label><br>
    <input type="text" name="last-name" placeholder="Smith"><br>
    <label for="email">Email</label><br>
    <input type="email" name="email" placeholder="johnsmith@email.com"><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" placeholder="must be at least 6 characters"><br><br>
    <input type="submit" value="Create Account"><br>
  </form>
</div>